# repo related
df
mediawiki-extensions-EventBus
KafkaSSE
eventstreams
eventgate
schemas-event-primary

# code related
.idea
.env
config.py
/seaweedfs_data/
seaweedfs
alarik_data
deprecated
wikidata-query-rdf
mediawiki-extensions-Wikibase