# repo related
df
mediawiki-extensions-EventBus
KafkaSSE
eventstreams
eventgate
schemas-event-primary

# code related
.idea
.env
config.py
/seaweedfs_data/
seaweedfs
alarik_data
deprecated
wikidata-query-rdf
mediawiki-extensions-Wikibase
/WikibaseDataModelSerialization/
/WikibaseIntegrator/
*.pyc
/src/schemas/schemas-event-primary/

# test data cache
test_data/properties/*.csv
test_data/properties/*.json
/safe-sh
